<!-- <div>
    <ul>
        <li *ngFor="let obj of dataset; trackBy: byid" (click)="selectItem(obj)">
            {{obj.name}}
        </li>
    </ul>
</div>
<input type="button" value="cp1" (click)="cpEvent(cp1)">
<component1 [item]="currentItem" (parentEvent)="parentEvent($event)" #cp1></component1> -->
<!-- <select name="" id="" [(ngModel)]="common.lanType">
    <option value="en">en</option>
    <option value="cn">cn</option>
</select> -->
<!-- <datagrid config="cnode"></datagrid> -->
<router-outlet></router-outlet>